<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>CORK Admin Template - Login Page</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
     <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/authentication/form-2.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms/theme-checkbox-radio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms/switches.css' %}">
</head>
<body class="form">
    

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Password reset</h1>
                        <p class="">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                        
                        <form class="text-left" method="post">
                            {% csrf_token %}
                            <div class="form">
                            {% bootstrap_form form %}
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary" value="">Reset my password</button>
                                    {% endbuttons %}
                                    </div>
                                </div>
                                <p class="signup-link"><a href="{% url 'login' %}">Sign in</a></p>
                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>

    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'js/authentication/form-2.js' %}"></script>

</body>
</html>