{% load widget_tweaks %}
{% load static %}
{% block extra_css %}
<link href="{% static 'plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header modalheadrcolor">
    <h3 class="modal-title">Create Event</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {{form.as_p}}
  <div class="modal-footer">
    <button type="submit" class="submit-btn btn btn-primary">Create</button>
  </div>

</form>
{% block extra_javascript %}
<script src="{% static 'plugins/flatpickr/flatpickr.js' %}"></script>
<script>
  $(document).ready(function () {
    var f2 = flatpickr(document.getElementById('id_event_date'), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

  });
</script>
{% endblock extra_javascript %}