{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>E-Invetation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'persone/css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'nitro/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'nitro/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'nitro/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'nitro/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'nitro/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'nitro/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'nitro/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'nitro/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'nitro/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'nitro/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'nitro/css/style.css' %}">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="{% url 'xdesign' %}" class="navbar-brand"><img
                                    style="width: 30%;" alt="logo" src="{% static 'img/qr/qr-code (3).png' %}"><span
                                    class=""></span>
                                E-Invetation.</span> </a></h1>
                    </div>

                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="#home-section" class="nav-link">Home</a></li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">About Us</a>
                                    <ul class="dropdown">
                                        <li><a href="#vision-section" class="nav-link">Our Vision</a></li>
                                        <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                                        <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                                        <li><a href="#store-section" class="nav-link">Success Story</a></li>
                                    </ul>
                                </li>

                                <li><a href="#events-section" class="nav-link">Our Events</a></li>
                                <li><a href="#clients-section" class="nav-link">Our Clients</a></li>
                                <li><a href="#partner-section" class="nav-link">Our Partner</a></li>
                                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                                {% if user.is_authenticated %}
                                <li class="has-children">
                                    <a class="nav-link">
                                        {{ user.username }}</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'profile' %}" class="nav-link"> My Profile</a></li>
                                        <li><a href="{% url 'events' %}" class="nav-link"> Events</a></li>
                                        <li><a href="{% url 'logout' %}" class="nav-link"> Logout</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li class="has-children">
                                    <a class="nav-link">Login & Register</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                                        <li><a href="{% url 'signup' %}" class="nav-link">Signup</a></li>
                                    </ul>
                                </li>

                                {% endif %}
                            </ul>
                        </nav>
                    </div>


                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a
                            href="#" class="site-menu-toggle js-menu-toggle float-right"><span
                                class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>



        <div class="site-blocks-cover overlay" style="background-image: url(../../static/img/27641294.jpg);"
            data-aos="fade" id="home-section">
            <a href="#about-section" class="mouse smoothscroll">
                <span class="mouse-icon">
                    <span class="mouse-wheel"></span>
                </span>
            </a>
        </div>

        <div class="site-section cta-big-image" id="about-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center" data-aos="fade">
                        <h2 class="section-title mb-3">About Us</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                        <figure class="circle-bg">
                            <img src="{% static 'img/qr-code-scanning_41910-333.jpg' %}" alt="Image" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                        <div class="mb-4">
                            <h3 class="h3 mb-4 text-black">For the next great business</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in
                                nostrum labore omnis quaerat.</p>

                        </div>



                        <div class="mb-4">
                            <ul class="list-unstyled ul-check success">
                                <li>Officia quaerat eaque neque</li>
                                <li>Possimus aut consequuntur incidunt</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                            </ul>

                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="site-section cta-big-image" id="vision-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center" data-aos="fade">
                        <h2 class="section-title mb-3">Our Vision</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                        <div class="mb-4">
                            <h3 class="h3 mb-4 text-black">For the next great business</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in
                                nostrum labore omnis quaerat.</p>

                        </div>



                        <div class="mb-4">
                            <ul class="list-unstyled ul-check success">
                                <li>Officia quaerat eaque neque</li>
                                <li>Possimus aut consequuntur incidunt</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                            </ul>

                        </div>



                    </div>
                    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                        <figure class="circle-bg">
                            <img src="{% static 'img/qr_code_tech.jpg' %}" alt="Image" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <section class="site-section" id="events-section">


            <div class="container">

                <div class="row mb-3">
                    <div class="col-12 text-center" data-aos="fade">
                        <h2 class="section-title mb-3">Our Events</h2>
                    </div>
                </div>
                <div id="posts" class="row no-gutter">
                    {% for event in events %}
                    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                        <a href="{{ event.img.url }}" class="item-wrap fancybox" data-fancybox="gallery2">
                            <span class="icon-search2"></span>
                            <img class="img-fluid" style="max-width: 100%;" src="{{ event.img.url }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section>

        <section class="site-section testimonial-wrap" id="clients-section" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">Our clients</h2>
                    </div>
                </div>
            </div>
            <div class="slide-one-item home-slider owl-carousel">
                {% for client in clients %}
                <div>
                    <div class="testimonial">

                        <blockquote class="mb-5">
                            <p>&ldquo;{{ client.description }}&rdquo;</p>
                        </blockquote>

                        <figure class="mb-4 d-flex align-items-center justify-content-center">
                            <div><img src="{{ client.img.url }}" alt="Image" class="w-50 img-fluid mb-3"></div>
                            <p>{{ client.name }}</p>
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="site-section bg-light" id="pricing-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center" data-aos="fade-up">
                        <h2 class="section-title mb-3">Pricing</h2>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="">
                        <div class="pricing">
                            <h3 class="text-center text-black">Basic</h3>
                            <div class="price text-center mb-4 ">
                                <span><span>$47</span> / year</span>
                            </div>
                            <ul class="list-unstyled ul-check success mb-5">

                                <li>Officia quaerat eaque neque</li>
                                <li>Possimus aut consequuntur incidunt</li>
                                <li class="remove">Lorem ipsum dolor sit amet</li>
                                <li class="remove">Consectetur adipisicing elit</li>
                                <li class="remove">Dolorum esse odio quas architecto sint</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="pricing">
                            <h3 class="text-center text-black">Premium</h3>
                            <div class="price text-center mb-4 ">
                                <span><span>$200</span> / year</span>
                            </div>
                            <ul class="list-unstyled ul-check success mb-5">

                                <li>Officia quaerat eaque neque</li>
                                <li>Possimus aut consequuntur incidunt</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li class="remove">Dolorum esse odio quas architecto sint</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="pricing">
                            <h3 class="text-center text-black">Professional</h3>
                            <div class="price text-center mb-4 ">
                                <span><span>$750</span> / year</span>
                            </div>
                            <ul class="list-unstyled ul-check success mb-5">

                                <li>Officia quaerat eaque neque</li>
                                <li>Possimus aut consequuntur incidunt</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Dolorum esse odio quas architecto sint</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row site-section" id="faq-section">
                    <div class="col-12 text-center" data-aos="fade">
                        <h2 class="section-title">Frequently Ask Questions</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Where are you from?</h3>
                            <p>Voluptatum nobis obcaecati perferendis dolor totam unde dolores quod maxime corporis
                                officia et. Distinctio assumenda minima maiores.</p>
                        </div>

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What is your opening time?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>

                        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis
                                perferendis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="counter-section" id="store-section">
            <div class="container">
                <div class="d-flex justify-content-center row">
                    <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100" style="text-align: center;">
                        <div class="mb-4">
                            <h2 class="section-title mb-3">Success Story</h2>
                            <h3 class="h3 mb-4 text-black">
                                <b style="color: darkslategrey;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quo tempora cumque eligendi in nostrum labore omnis quaerat.
                                </b>
                            </h3>

                        </div>
                        <div class="mb-4">
                            <ul class="list-unstyled ul-check success">
                                <li>Officia quaerat eaque neque</li>
                                <li>Possimus aut consequuntur incidunt</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                            </ul>

                        </div>



                    </div>
                </div>

                <div class="d-flex justify-content-center row">

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="counter margin-b-30">
                            <h1 class="title"><b><span class="counter-value" data-duration="1400"
                                        data-count="{{ num_event }}">{{ num_event }}</span></b></h1>
                            <h5 class="desc"><b>Events</b></h5>
                        </div><!-- counter -->
                    </div><!-- col-md-3-->

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="counter margin-b-30">
                            <h1 class="title"><b><span class="counter-value" data-duration="700"
                                        data-count="{{ num_guest }}">{{ num_guest }}</span></b></h1>
                            <h5 class="desc"><b>Invitations</b></h5>
                        </div><!-- counter -->
                    </div><!-- col-md-3-->

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="counter margin-b-30">
                            <h1 class="title"><b><span class="counter-value" data-duration="2000"
                                        data-count="{{ num_city }}">{{ num_city }}</span></b></h1>
                            <h5 class="desc"><b>Cities</b></h5>
                        </div><!-- margin-b-30 -->
                    </div><!-- col-md-3-->

                </div><!-- row-->
            </div><!-- container-->
        </section><!-- counter-section-->

        <!--================ Start Clients Logo Area =================-->
        <section id="partner-section" class="site-section clients_logo_area section-padding">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">Our Partner</h2>
                    </div>
                </div>
                <div class="clients_slider owl-carousel">
                    {% for partner in partners %}
                    <div class="item">
                        <a href="{{ partner.url }}" target="_blank">
                            <span style="color: black;">{{ partner.name }}</span>
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" style="max-width: 100%;">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--================ End Clients Logo Area =================-->

        <section class="site-section bg-light" id="contact-section" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">Contact Us</h2>
                    </div>
                </div>
                <div class="row mb-5">



                    <div class="col-md-4 text-center">
                        <p class="mb-4">
                            <span class="icon-room d-block h4 text-primary"></span>
                            <span>203 Fake St. Mountain View, San Francisco, California, USA</span>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p class="mb-4">
                            <span class="icon-phone d-block h4 text-primary"></span>
                            <a href="#">+1 232 3235 324</a>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p class="mb-0">
                            <span class="icon-mail_outline d-block h4 text-primary"></span>
                            <a href="#">youremail@domain.com</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">



                        <form action="." method="POST" class="post-form">{% csrf_token %}

                            <h2 class="h4 text-black mb-5">Contact Form</h2>
                            <div class="row form-group">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <label class="text-black" for="id_first_name">First Name</label>
                                    <input type="text" id="id_first_name" name="first_name" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="text-black" for="id_last_name">Last Name</label>
                                    <input type="text" id="id_last_name" name="last_name" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">

                                <div class="col-md-12">
                                    <label class="text-black" for="id_email">Email</label>
                                    <input type="email" id="id_email" name="email" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">

                                <div class="col-md-12">
                                    <label class="text-black" for="id_subject">Subject</label>
                                    <input type="subject" id="id_subject" name="subject" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="id_message">Message</label>
                                    <textarea name="message" id="id_message" cols="30" rows="7" class="form-control"
                                        placeholder="Write your notes or questions here..."></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </section>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <h2 class="footer-heading mb-6">About Us</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi
                                    in nostrum labore omnis quaerat.</p>

                            </div>
                            <div class="col-md-3 ml-auto">
                                <h2 class="footer-heading mb-2">Quick Links</h2>
                                <ul class="list-unstyled">
                                    <h6>
                                        <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                                    </h6>
                                    <h6>
                                        <li><a href="#events-section" class="smoothscroll">Our Events</a></li>
                                    </h6>
                                    <h6>
                                        <li><a href="#clients-section" class="smoothscroll">Our Clients</a></li>
                                    </h6>
                                    <h6>
                                        <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                                    </h6>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h2 class="footer-heading mb-4">Follow Us</h2>
                                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                website is made with by <img style="width: 3%;" alt="logo"
                                    src="{% static 'img/qr/qr-code (3).png' %}"><span
                                    class=""></span>E-Invetation.</span>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </footer>

    </div> <!-- .site-wrap -->

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>



    <script src="{% static 'persone/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'persone/js/main.js' %}"></script>


    <script src="{% static 'nitro/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'nitro/js/jquery-ui.js' %}"></script>
    <script src="{% static 'nitro/js/popper.min.js' %}"></script>
    <script src="{% static 'nitro/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'nitro/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'nitro/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'nitro/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'nitro/js/aos.js' %}"></script>
    <script src="{% static 'nitro/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'nitro/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'nitro/js/isotope.pkgd.min.js' %}"></script>


    <script src="{% static 'nitro/js/main.js' %}"></script>





</body>

</html>